$smallerFont : 0.7em;
body {
  font-size: 30px;
  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}
section {
  text-align: center;
}
section.player {

span,p {
  &:hover {
  transform: scale(1.1,1);
  color : red;
  font-weight: bold;
  }
p {
  max-height: 30px;
}
}
  .NSvulnarable, .WEvulnarable {
    width : 100px;
    min-height :50px;
    background: green;
    font-size: 0.9em;
    margin : 10px;
    color : white;
  }
}


.playersVulnarable, .NSvulnarable, .WEvulnarable, .playerName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerName {
  width : 100%;
  height :100px;
  background: green;
  font-size: 1.6em;
  font-weight: bold;
  color : white;
}
.scoreTable {
  @media only screen and (max-width: 500px) {
    font-size: 20px;
  }
  background-color : black ;
  color : grey;
  text-align: left;
  padding-left: 5%;
  .number {
    font-size: $smallerFont;
    &::after {
      content: '.';
    }
  }
  .oponent {
    text-decoration: line-through;
    font-size: $smallerFont;
  }
  .vulnarable {
    &.player {
      color : red;
      font-weight: bold;
    }
    &.oponent {
      color : red;
    }
  }
  .notvulnarable {
    &.player {
      color : green;
      font-weight: bold;
    }
    &.oponent {
      color : green;

    }
  }
  .undoubled::after {
    content: '.';
    font-size: $smallerFont;
  }
  .doubled::after {
    content: 'x';
    font-size: $smallerFont;
  }
  .redoubled::after {
    content: 'xx';
    font-size: $smallerFont;
  }
  .handPoints::after {
    content: 'p';
    font-size: $smallerFont;
  }
  .tricks {
    &::after {
      content:'(tricks';
      font-size: $smallerFont;
    }
  }
  .overtricks {
    font-size: $smallerFont;
    &::after {
      content:')';
    }
    &::before {
      content:'';
    }
  }
  .winPoints {
    font-size: $smallerFont;
  }
  .impPoints {
    font-size: 1.1em;
    color : red;
  }
  .NStotalImpPoints::before {
    content: 'NS:';
    font-size: $smallerFont;
  }
  .WEtotalImpPoints::before {
    content: 'WE:';
    font-size: $smallerFont;
  }

}


.doubledX, .redoubledX {
  background: red;
  min-height: 150px;
  transform-origin: bottom left;
}


section.player img {
  width:100%;
  margin-top: 80px
}

section.player span {
  width:14.285714285714285714285714285714%;
  padding: 0 5px;
  background: lightgrey;
  display: block;
  float: left;
}
.navTable {width : 100%; position : fixed; z-index: 1}

.playerName, .NSvulnarable, .WEvulnarable {
  &:hover {
    transform: scale(1.1,1.1);
  }
}

.save {
  h1 {
    background: lightgrey;
    &:hover {
      background : grey;
      color : red;
    }
  }
}

.edit, .delete {
  padding: 0 20px;
  margin: 0 10px;
  background: lightgrey;
  border-radius: 30px;
}
