$smallerFont : 0.7em;
$headerHight: 70px;
body {
  font-size: 20px;
}

.row {
  margin : 0;
}

section {
  text-align: center;
}
section.player {

  span,p {

    &:hover {
      // transform: scale(1.2,1.2);
      color : red;
      font-weight: bold;
      cursor : pointer;

    }
    p {
      max-height: 30px;
    }
  }
  .NSvulnarable, .WEvulnarable {
    width : 40%;
    min-height :50px;
    // background: green;
    font-size: 0.9em;
    margin: 10px;
    color : white;
  }
}


.playersVulnarable, .NSvulnarable, .WEvulnarable, .playerName {
  display: flex;
  justify-content:center;
  align-items: center;
}

.playerName {
  width : 100%;
  height :100px;
  background: green;
  font-size: 1.6em;
  font-weight: bold;
  color : white;
}

.container-fluid {
  padding: 0;
}
.scoreTable {
  height: $headerHight;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  div {
    float: left;
  }

  background-color : #222 ;
  color : lightgrey;
  text-align: left;
  // padding-left: 5%;
  .number {
    // font-size: $smallerFont;
    &::after {
      content: '.';
    }
  }
  .oponent {
    // text-decoration: line-through;
    // font-size: $smallerFont;
  }
  .vulnarable {
    &.player {
      color : red;
      // font-weight: bold;
      border-bottom: 2px solid red;
    }
    &.oponent {
      color : red;
      border-bottom: 2px solid red;
    }
  }
  .notvulnarable {
    &.player {
      color : green;
      // font-weight: bold;
      border-bottom: 2px solid green;
    }
    &.oponent {
      color : green;
      border-bottom: 2px solid green;

    }
  }
  .undoubled::after {
    content: '.';
    // font-size: $smallerFont;
  }
  .doubled::after {
    content: 'x';
    // font-size: $smallerFont;
  }
  .redoubled::after {
    content: 'xx';
    // font-size: $smallerFont;
  }
  .handPoints::after {
    content: 'p';
    font-size: $smallerFont;
  }
  .tricks {
    &::after {
      content:'';
      font-size: $smallerFont;
    }
  }
  .overtricks {
    font-size: $smallerFont;
    &::after {
      content:')';
    }
    &::before {
      content:'(';
    }
  }
  .winPoints {
    font-size: $smallerFont;
  }
  .impPlace {
    position: absolute;
      right: 0px;
      text-align: left;
      top: 0.1em;
      font-size: 1.5em;

    }

  .impPoints {
    font-size: 1.1em;
    color : red;
    position: absolute;
    left: 40px;
    &::after {
      content:' imp';
      font-size: $smallerFont;
    }
  }
  .NStotalImpPoints, .WEtotalImpPoints {
    display: none;
  }
  .NStotalImpPoints::before {
    content: 'NS:';
    font-size: $smallerFont;
  }
  .WEtotalImpPoints::before {
    content: 'WE:';
    font-size: $smallerFont;
  }

}


.doubledX, .redoubledX {
  background: red;
  min-height: 150px;
  transform-origin: bottom left;
}


section.player img {
  width:100%;
  margin-top: 100px
}

div.contract {
  div {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin : 5px 0;
  }
}



section.player span {
  box-sizing: border-box;
  // font-size: 1.4em;
  border : 1px solid black;
  // border-radius: 20px;
  width:18%;
  padding: 0 2px;
  background: lightgrey;
  display: block;
  float: left;
  // transform: scale(1.1,1.1);
  &:hover {
    z-index: 10000;
    // transform: scale(1.2,1.2);
    cursor : pointer;
  }
}
.navTable {width : 100%; margin-top: 0; position : fixed; z-index: 4}

.playerName, .NSvulnarable, .WEvulnarable {
  &:hover {
    // transform: scale(1.1,1.1);
    cursor : pointer;
  }
}

footer {
  width:100%;
  height: $headerHight;
  display: flex;
  justify-content: center;
  align-items: center;
  position : fixed;
  bottom: 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background: black;
  z-index: 10000;
  section {
    height : $headerHight - 6px;
    overflow: hidden;
  }
}

#match {
  padding-bottom: 80px;
}

.save, .matchButton, .singleButton, .resetMatchButton {
  width : 25%;
  h1 {
    background: lightgrey;
    color : white;
    &:hover {
      background : grey;
      color : red;
      cursor : pointer;
    }
    span {
      margin-top: 5px;
      background: inherit;
      // &:hover {
      //   background : inherit;
      //   color : red;
      // }
    }
  }
}

.edit, .delete {
  // padding: 0 20px;
  // margin: 0 10px;
  background: black;
  font-size: 0.7em;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
}

.choosen {
  background: black !important;
  color : white !important;
  // transform: scale(1.3,1.3) !important;
  z-index: 1;
}

.empty {
  visibility: hidden;
}

.vulnarableColor {
  background: red;
}

.notvulnarableColor {
  background: green;
}



.saved{
  .glyphicon {
    &:hover {
      color : yellow;
      cursor : pointer;
    }
  }
  background-color : black ;
  color : lightgrey;
  text-align: left;

  .number {

    // font-size: $smallerFont;
    &::after {
      content: '.';
    }
  }
  .oponent {
    // text-decoration: line-through;
    // font-size: $smallerFont;
  }
  .vulnarable {
    &.player {
      color : red;
      // font-weight: bold;
      border-bottom: 2px solid red;
    }
    &.oponent {
      color : red;
      border-bottom: 2px solid red;
    }
  }
  .notvulnarable {
    &.player {
      color : green;
      // font-weight: bold;
      border-bottom: 2px solid green;
    }
    &.oponent {
      color : green;
      border-bottom: 2px solid green;

    }
  }
  .undoubled::after {
    content: '.';
    // font-size: $smallerFont;
  }
  .doubled::after {
    content: 'x';
    // font-size: $smallerFont;
  }
  .redoubled::after {
    content: 'xx';
    // font-size: $smallerFont;
  }
  .handPoints::after {
    content: '';
    font-size: $smallerFont;
  }
  .tricks {
    &::after {
      content:'';
      font-size: $smallerFont;
    }
  }
  .overtricks {
    font-size: $smallerFont;
    &::after {
      content:')';
    }
    &::before {
      content:'(';
    }
  }
  .winPoints {
    font-size: $smallerFont;
  }
  .impPlace {
    .impPoints {
      font-size: 1.1em;
      color : red;
      // position: absolute;
      // left: 40px;
      &::after {
        content:'imp';
        // font-size: $smallerFont;
      }
    }
  }

  .NStotalImpPoints, .WEtotalImpPoints {
    display: inline;
  }
  .NStotalImpPoints::before {
    content: 'NS:';
    font-size: $smallerFont;
  }
  .WEtotalImpPoints::before {
    content: 'WE:';
    font-size: $smallerFont;
  }

  @media only screen and (max-width: 500px) {

    .number {
      width : 15px;
      display: inline-table;
    }
    .player {
      width : 20px;
      display: inline-table;
    }
    .oponent {
      width : 20px;
      display: inline-table;
    }
    .contract {
      width : 50px;
      display: inline-table;

    }
    .handPoints {
      width : 30px;
      display: inline-table;
    }
    .tricks {
      width : 15px;
      display: inline-table;

    }
    .overtricks {
      width : 20px;
      display: inline-table;

    }
    .impPoints {
      width : 30px;
      display: inline-table;
      // position: absolute;
      // left: 40px;
      // left:40px;
    }
    .NStotalImpPoints, .WEtotalImpPoints {
      width : 30px;
      color : yellow;
      display: inline-table;
    }
    .delete {
      color : red;
    }
    .edit {
      color : blue;
    }
    .impPlace {
      position: static;
    }
  }

}

@media only screen and (max-width: 500px) {
    .saved.container-fluid.scoreTable { position: relative; }
    .saved .impPlace { position: absolute; }
    .edit {font-size: 1.6em}
}

.saved.container-fluid.scoreTable { position: relative; }
.saved .impPlace { position: absolute; }


div[data-doubled], div[data-redoubled]{
  background: lightgrey;
  &:hover {
    cursor: pointer;
    background: grey;
    color : white;

  }
}

div[data-contract='0_pass'] {
  background: lightgrey;
  color : black;
  border: 1px solid black;
  &:hover {
    cursor: pointer;

  }
};

.pencil {
  text-align: right;
}


#mask {
  width : 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#start {
  width : 60%;
  height : auto;

  background: rgba(255,0,0,0.5);
  text-align: center;
  padding: 20px;
  z-index: 10000;
  button {
    display: inline-block;
    width:40%;
    margin: 5px 30px;
    min-width: 50px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}
